/*your custom css styles here*/


.post-title {
}

.csl-entry {
   text-indent: -3em;
   margin-left: 3em;
   padding-bottom: 25px;
}

.blog-name{
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  position: relative;
  top:180px;
}

.blog-description{
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  position: relative;
  top:180px;
}

@font-face{
  font-display: swap;
}